<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="public/styles/post.css">

    <title>Post page</title>
</head>

<body>
    <main>

    <h2>
        <%= blogPost.title %>
    </h2>
    <p>
        <%= blogPost.content %>
    </p>
    <p>
        <%= blogPost.author %>
    </p>
            <a href="/back" type="back" value="Back to home">back</a>
          
    <%- include("./partials/footer.ejs") %>

   